<html>
	<body>
		<form action = "layout" method="post" id = "form">
			<p>Enter Text:</p>
			<textarea rows="4" cols="50" name="string" form="form" required>
Enter text to generate keyboard layout from.</textarea>
            <p id = "string_error"></p>
			<p>Gen:</p>
			<p><input type = "text" name = "gen" value = "100" required /></p>
            <p id = "gen_error"></p>
			<p>Removed characters (enter as single string):</p>
			<p><input type = "text" name = "removed" /></p>
			<p><input type = "submit" value = "submit" onclick="loading()" /> </p>
		</form>
		<div id="loading" style="display:none">
			<h1>Loading...</h1>
			<img src = "/static/ajax-loader.gif"/> 
		</div>
		<script>
			function loading() {
				document.body.style.textAlign="center";
				form = document.getElementById('form');
				loading = document.getElementById('loading');
				form.style.display = "none";
				loading.style.display = "block"
			}
		</script>
	</body>
</html>